/////////////////////////////////////////
//map model view


.aside-map-right{
  position: absolute;
  right: 0%;
  width: 37.6rem;
  height: 99.99vh;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: $color-six-grey;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
}

.header-aside-map{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7.2rem;
  &__glasses{
    width: 2rem;
    height: 1.29rem;
    object-fit: contain;
    margin-left: 3%;
  }

  &__targets{
    margin-left: 4%;
    flex: 1.1;
    width: 9rem;
    height: 3.3rem;
    font-family: Poppins;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: $color-white;
  }

  &__green{
    width: 8px;
    height: 8px;
    border-radius: 99px;
    background-color: $color-third-green;
    margin-top: 1%;
  }

  &__active{
    margin-right: 5%;
    margin-left: 1%;
    width: 3.8rem;
    height: 1.5rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.9px;
    text-align: left;
    color:$color-white;
  }

  &__sign{
    margin-top: 4%;
    margin-right: 6%;
    color: grey;
    font-size: 2rem;
  }

}

.aside-content{
  display: flex;
  align-self: center;
  width: 95%;
  height: 9.6rem;
  background-color: #2a2e43;
  margin-top: 6%;
  margin-left:2%;
  border-radius: 15px;
  &__left{
    width: 10%;
    height: 100%;
    margin-left:3%;
    display: flex;
    &__light{
      align-self: center;
      width: .8rem;
      height: 8rem;
      border-radius: 8px;
      margin-left:2%;
    }
  }

  &__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 95%;
    &__top{
      display: flex;
      justify-content: flex-start;
      width: 39%;
      height: 30%;
      margin-bottom: -2%;
      &__light{
        width: .8rem;
        height: .8rem;
        border-radius: 99px;
        background-color: $color-third-green;
        margin-top:6%;
        margin-right:3%;
      }

      &__active{
        margin-right: 4%;
        margin-left: 1%;
        width: 3.8rem;
        height: 1.5rem;
        font-family: Poppins;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.9px;
        text-align: left;
        color: $color-third-green;
      }

      &__serial{
        width: 3.8rem;
        height: 1.5rem;
        opacity: 0.54;
        font-family: Poppins;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: $color-secondery-grey;
        margin-left:auto;

      }
    }

    &__t{
      opacity: 0.84;
      font-family: Poppins;
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: $color-white;
    }

    &__p{
      width: 140px;
      height: 17px;
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: $color-secondery-grey;
    }

  }

}
