<aside class="aside-map-right">
  <div class="header-aside-map">
    <img class="header-aside-map__glasses" src="../../assets/images/icon/noun_Binoculars_1236068_000000.svg">
    <div class="header-aside-map__targets">Targets</div>
    <div class="header-aside-map__green"></div>
    <div class="header-aside-map__active">ACTIVE</div>
    <div class="header-aside-map__sign">˘</div>
  </div>

  <div class="search-bar justify-search-bar" >
    <img class="search-bar__wifi" src="../../assets/images/icon/noun_filter_787737_000000.svg">
    <div class="search-bar__divider"></div>
    <input type="text" class="search-bar__filter" placeholder="Type or select filter">
    <p class="search-bar__x">x</p>
  </div>
  <div class="aside-content" *ngFor="let target of targets">
     <div class="aside-content__left">
      <div class="aside-content__left__light {{target.color}}" ></div>
     </div>
  <div class="aside-content__main">
      <div class="aside-content__main__top">
        <div class="aside-content__main__top__light" [ngStyle]="{backgroundColor:target.status === 'inactive' ? '#78849e' : ''}"></div>
        <div class="aside-content__main__top__active" [ngStyle]="{color:target.status === 'inactive' ? '#78849e' : ''}">{{target.status}}</div>
        <div class="aside-content__main__top__serial">{{target.serial}}</div>
      </div>
      <div class="aside-content__main__t justify-hide">{{target.type}}
        <img *ngIf="target.hidden === true" class="hide"  src="../../assets/images/icon/hide (1).svg">
      </div>
      <div class="aside-content__main__p">{{target.description}}</div>
  </div>

  <!--<div class="aside-content">-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light pink"></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main">-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light "></div>-->
        <!--<div class="aside-content__main__top__active">ACTIVE</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="aside-content">-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light pale-blue" ></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main">-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light"></div>-->
        <!--<div class="aside-content__main__top__active">ACTIVE</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t justify-hide">Car Driving Fast-->
        <!--<img class="hide"  src="../../assets/images/icon/hide (1).svg">-->
      <!--</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->
    <!--</div>-->


  <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<div class="aside-content">-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light yellow" ></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main">-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light"></div>-->
        <!--<div class="aside-content__main__top__active">ACTIVE</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="aside-content">-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light yellow" ></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main">-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light"></div>-->
        <!--<div class="aside-content__main__top__active">ACTIVE</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="aside-content">-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light yellow" ></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main">-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light"></div>-->
        <!--<div class="aside-content__main__top__active">ACTIVE</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="aside-content" >-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light red"  > </div>-->

    <!--</div>-->
    <!--<div class="aside-content__main" >-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light grey"  ></div>-->
        <!--<div class="aside-content__main__top__active color-grey" >inactive</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->

  <!--</div>-->
  <!--<div class="aside-content" >-->
    <!--<div class="aside-content__left">-->
      <!--<div class="aside-content__left__light pink" ></div>-->

    <!--</div>-->
    <!--<div class="aside-content__main" >-->
      <!--<div class="aside-content__main__top">-->
        <!--<div class="aside-content__main__top__light grey" ></div>-->
        <!--<div class="aside-content__main__top__active color-grey" >inactive</div>-->
        <!--<div class="aside-content__main__top__serial">C23465</div>-->
      <!--</div>-->
      <!--<div class="aside-content__main__t">Car Driving Fast</div>-->
      <!--<div class="aside-content__main__p">F22 Raptor Hangar</div>-->

    <!--</div>-->


  </div>
  <div class="shadow-bottom4" ></div>

</aside>
