<main class="main-map" >

  <nav class="navbar-map-view" >
    <!--</div>  tabindex="-1" (blur)="_toggleMenu($event)" (click)="_toggleMenu($event, button.type)"  -->
    <div class="shape-wrapper" *ngFor="let button of buttons" (click)="_toggleMenu($event, button.type)"   (blur)="closePopup($event)" tabindex="31">
      <div class="shape-wrapper__Shape" [ngClass]="{clickNavBarButton:  loadedFeature === button.type }"><img [ngClass]="{clickNavBarButtonIcon:  loadedFeature === button.type }" [class]="button.type" [src]="button.img"></div>
      
    </div>
    <app-popup *ngIf="loadedFeature === 'devices' || loadedFeature === 'areas' || loadedFeature === 'places'"  (blur)="closePopup($event)" tabindex="-1" (focusout)="closePopup($event)" ></app-popup>
  </nav>

  <!-- <app-aside-popup *ngIf="loadedFeature === 'aside'" tabindex="-1"  (blur)="closePopup($event)" (focusout)="closePopup($event)" ></app-aside-popup> -->
  <app-aside-right-popup *ngIf="loadedFeature === 'aside'" tabindex="-1"  (blur)="closePopup($event)" (focusout)="closePopup($event)" ></app-aside-right-popup>

  <div class="right-button" tabindex="31"  (click)="_toggleMenu($event, 'aside')" (blur)="closePopup($event)" >
    <div class="right-button__pink-circule"></div>
    <img class="right-button__target" src="../../assets/images/icon/target.svg">
  </div>

  <div class="left-bottom-button">
    <img class="left-bottom-button__union-btn" src="../../assets/images/icon/Union6.svg">
  </div>


  <div class="container-bottom-right">
    <div class="ruler-btn"><img class="ruler-btn__ruler" src="../../assets/images/icon/Ruler.svg"></div>
    <div class="joystick-btn">
      <img class="joystick-btn__plus" src="../../assets/images/icon/plus.svg">
      <div class="joystick-btn__minus"></div>
      <img class="joystick-btn__up" src="../../assets/images/icon/up.svg">
      <img class="joystick-btn__down" src="../../assets/images/icon/down.svg">
    </div>
    <div class="bottom-right-btn">
      <div class="bottom-right-btn__metter">500m</div>
      <div class="bottom-right-btn__line"><div class="divider1" ></div> <div class="divider2" style="bottom: 22px;left:-3px;"></div> </div>
      <div class="bottom-right-btn__X-9033429-Y-8033290">X-9033429 Y-8033290</div>
    </div>
  </div>
</main>
