 <div class="search-popup purple-popup" >
                  <div class="header-popup purple-header-shape">
                      <h4 class="header-popup__title">Places</h4>
                      <div class="header-popup__search-bar">
                        <img class="header-popup__search-bar__wifi" src="../../assets/images/icon/noun_filter_787737_000000.svg">
                          <div class="header-popup__search-bar__divider"></div>
                          <input type="text" class="header-popup__search-bar__filter" placeholder="Type or select filter">
                      </div>
                      <div class="header-popup__small-title width-small-title">22 Places</div>
                  </div>
                  <div class="body-popup">

                    <div class="frame-purple-content" *ngFor="let place of places">
                        <div class="grey" *ngIf="place.favorite">
                          <div class="frame-purple-content__left">
                            <div class="frame-purple-content__left__icon color-dark">
                            <img class="frame-purple-content__left__icon__photo " src="../../assets/images/icon/places2.svg">
                          </div>
                        </div>
                        <div class="frame-purple-content__main height-f-child">
                          <div class="frame-purple-content__main__fp">Favorite</div>
                          <div class="frame-purple-content__main__t">{{place.type}}</div>
                        <div class="frame-purple-content__main__p">{{place.description}}</div>
                       </div>
                      </div>
                      <div class="frame-purple-content" *ngIf="!place.favorite">
                      <div class="frame-purple-content__left">
                      <div class="frame-purple-content__left__icon">
                      <img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">
                      </div>

                      </div>
                      <div class="frame-purple-content__main ">
                      <div class="frame-purple-content__main__t">{{place.type}}</div>
                      <div class="frame-purple-content__main__p">{{place.description}}</div>
                      </div>

                      </div>
                    </div>










                   <!--<div class="frame-purple-content height-frame-f-child" >-->
                      <!--<div class="grey">-->
                              <!--<div class="frame-purple-content__left">-->
                                  <!--<div class="frame-purple-content__left__icon color-dark">-->
                                      <!--<img class="frame-purple-content__left__icon__photo " src="../../assets/images/icon/places2.svg">-->
                                  <!--</div>-->
                              <!--</div>-->
                              <!--<div class="frame-purple-content__main height-f-child">-->
                                  <!--<div class="frame-purple-content__main__fp">Favorite</div>-->
                                  <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                                  <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                              <!--</div>-->
                       <!--</div>-->
                   <!--</div>-->
                   <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main ">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <!--<div class="frame-purple-content">-->
                          <!--<div class="frame-purple-content__left">-->
                              <!--<div class="frame-purple-content__left__icon">-->
                                  <!--<img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">-->
                              <!--</div>-->

                          <!--</div>-->
                          <!--<div class="frame-purple-content__main">-->
                              <!--<div class="frame-purple-content__main__t">Safe Zone</div>-->
                              <!--<div class="frame-purple-content__main__p">North Control Tower Bargam</div>-->
                          <!--</div>-->

                      <!--</div>-->
                      <div class="shadow-bottom"></div>
                 </div>
               </div>
