<div class="frame-purple-content" *ngFor="let place of places" [ngStyle]="{height:place.favorite === true ? '125px' : ''}">
  <div class="grey" *ngIf="place.favorite">
    <div class="frame-purple-content__left">
      <div class="frame-purple-content__left__icon color-dark">
        <img class="frame-purple-content__left__icon__photo " src="../../assets/images/icon/places2.svg">
      </div>
    </div>
    <div class="frame-purple-content__main height-f-child">
      <div class="frame-purple-content__main__fp">Favorite</div>
      <div class="frame-purple-content__main__t">{{place.type}}</div>
      <div class="frame-purple-content__main__p">{{place.description}}</div>
    </div>
  </div>
  <div class="frame-purple-content" *ngIf="!place.favorite">
    <div class="frame-purple-content__left">
      <div class="frame-purple-content__left__icon">
        <img class="frame-purple-content__left__icon__photo" src="../../assets/images/icon/places3.svg">
      </div>

    </div>
    <div class="frame-purple-content__main ">
      <div class="frame-purple-content__main__t">{{place.type}}</div>
      <div class="frame-purple-content__main__p">{{place.description}}</div>
    </div>

  </div>
</div>
