<div class="frame-blue-content" [ngStyle]="{backgroundColor:index === 1 ? '#353a50' : ''}">
<div class="frame-blue-content__left">
    <img class="frame-blue-content__left__photo" [src]="getImageByStatus()" >
  </div>
  <div class="frame-blue-content__main">
    <div class="frame-blue-content__main__t">{{device.name}} </div>
    <div class="frame-blue-content__main__p">{{device.description}}</div>
  </div>
  <div error class="error-frame" *ngIf="device.status === 'disconnected'" >
    <div class="error-frame__title">Error Details in this tooltip</div>
  </div>
</div>


 