.search-popup{
  position:absolute;
  z-index: 1;
}

.blue-popup{
  left:4.5rem;
  top:4.3rem;
}

.blue-header-shape{

  clip-path:polygon(0 100%, 100% 100%, 100% 7%, 20% 7%, 16% 1%, 13% 7%, 0 7%);
  background-image: linear-gradient(to right, #098bff, #00b2ff, #00cfee);
}


.header-popup{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 23vw;
  height: 17vh;
  max-width:361px;
  max-height: 180px;
  min-width:250px;
  opacity: 0.9;
  border-radius: 25px 25px 0px 0px;
  &__title{
    margin-top:7%;
    margin-left:4%;
    font-family: Poppins;
    font-size: 2.1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  &__search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:auto;
    width: 94%;
    height: 45px;
    border-radius: 999px;
    box-shadow: 0 4px 8px 0 rgba(69, 91, 99, 0.24);
    background-color:#ffffff;
    &__wifi{
      flex:1;
      width: 16px;
      height: 12.2px;
      object-fit: contain;
    }

    &__divider{
      margin-right: 15%;
      position: relative;
      width: 1.5px;
      height: 24px;
      opacity: 0.12;
      border-radius: 1px;
      background-color: #7d85a1;
    }

    &__filter{
      margin-right: 30%;
      flex:3;
      width: 112px;
      height: 17px;
      opacity: 0.34;
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #1a203a;
      border: none;
    }
    input:focus, textarea {
      outline: none !important;
    }

  }

  &__small-title{
    margin-bottom: 5%;
    align-self: center;
    // width: 61px;
    height: 15px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffffff;
  }
}

.body-popup{
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 67vh;
  max-width:361px;
  max-height: 687px;
  min-width:250px;
  min-height:350px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #2a2e43;
  border-radius: 0px 0px 25px 25px;


}

.frame-blue-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 12.5%;
  position: relative;
  border-top: 0.016px solid #303346;

  &__left{
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 999px;
    background-color: #454f63;

    &__photo{
      margin: auto;
      width: 36px;
      height: 40px;

    }

  }

  &__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    height: 100%;

    &__t{

      opacity: 0.84;
      font-family: Poppins;
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;

    }

    &__p{

      height: 17px;
      font-family: Poppins;
      font-size: 1.2rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #7d85a1;
    }

  }
}

.error-frame{

  display: flex;
  width: 60%;
  height: 42%;
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.48);
  border: solid 1px #f83a8a;
  background-color: #f5dce6;
  position: absolute;
  z-index: 1;
  border-radius: 25px 25px 25px 25px;
  top:49%;
  left:15%;
  &__title{
    margin:auto;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #f83a8a;
  }
}

.shadow-bottom{
  position: absolute;
  left:2px;
  bottom:9px;
  width:100%;
  height:8vh;
  opacity:0.7;
  z-index:1;
  background-color:#2a2e43;

}
