 <div class="search-popup turquoise-popup" >
                    <div class="header-popup turquoise-header-shape">
                        <h4 class="header-popup__title">Areas</h4>
                        <div class="header-popup__search-bar">
                            <img class="header-popup__search-bar__wifi" src="../../assets/images/icon/noun_filter_787737_000000.svg">
                            <div class="header-popup__search-bar__divider"></div>
                            <input type="text" class="header-popup__search-bar__filter" placeholder="Type or select filter">
                            <p class="search-bar__x">x</p>
                        </div>
                        <div class="header-popup__small-title width-small-title">22 Areas</div>
                    </div>
                        <div class="body-popup">
                            <div class="card-no-found">
                                    <img class="devices-not-found-photo" src="../../assets/images/logo/Areas not found.svg">
                                    <h4 class="devices-not-found-t">Areas not found</h4>
                                    <p class="devices-not-found-p">We cant find any devices matching your search</p>
                                    <h4 class="devices-not-found-t"> Recent searches</h4>
                                        <div class="devices-not-found-content">
                                            <div class="devices-not-found-content__1"><div class="no-result-text">Wingone</div> </div>
                                            <div class="devices-not-found-content__2"><div class="no-result-text">Alpha</div> </div>
                                            <div class="devices-not-found-content__3"><div class="no-result-text">Airborn</div> </div>
                                        </div>
                                        <div class="devices-not-found-content space-evenly minus-margin-top">
                                            <div class="devices-not-found-content__4"><div class="no-result-text">554</div> </div>
                                            <div class="devices-not-found-content__5"><div class="no-result-text">Delta</div> </div>
                                            <div class="devices-not-found-content__6"><div class="no-result-text">Armada</div> </div>
                                        </div>
                             </div>
                        </div>
            </div>
