<div class="card-no-found">
  <img class="devices-not-found-photo" [src]="currnetPopup.img">
  <h4 class="devices-not-found-t">{{currnetPopup.title}}</h4>
  <p class="devices-not-found-p">We cant find any devices matching your search</p>
  <h4 class="devices-not-found-t"> Recent searches</h4>
  <div class="devices-not-found-content">
    <div class="devices-not-found-content__1"><div class="no-result-text">Wingone</div> </div>
    <div class="devices-not-found-content__2"><div class="no-result-text">Alpha</div> </div>
    <div class="devices-not-found-content__3"><div class="no-result-text">Airborn</div> </div>
  </div>
  <div class="devices-not-found-content space-evenly margin-top">
    <div class="devices-not-found-content__4"><div class="no-result-text">554</div> </div>
    <div class="devices-not-found-content__5"><div class="no-result-text">Delta</div> </div>
    <div class="devices-not-found-content__6"><div class="no-result-text">Armada</div> </div>
  </div>
</div>
