 <div class="search-popup turquoise-popup" >
                    <div class="header-popup turquoise-header-shape">
                        <h4 class="header-popup__title">Areas</h4>
                        <div class="header-popup__search-bar">
                          <img class="header-popup__search-bar__wifi" src="../../assets/images/icon/noun_filter_787737_000000.svg">
                            <div class="header-popup__search-bar__divider"></div>
                            <input type="text" class="header-popup__search-bar__filter" placeholder="Type or select filter">
                        </div>
                        <div class="header-popup__small-title width-small-title">22 Areas</div>
                    </div>
                    <div class="body-popup">

                      <div class="frame-turquoise-content" *ngFor="let area of areas">
                          <div class="frame-turquoise-content__left-photo"><div class="{{area.shape}}"></div> </div>
                          <div class="frame-turquoise-content__main">
                             <div class="frame-turquoise-content__main__t">{{area.type}}</div>
                             <div class="frame-turquoise-content__main__p">{{area.description}}</div>
                          </div>
                      </div>


                            <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"><div class="shape-picture1"></div> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">F12</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"><div class="shape-picture2"></div> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">Safe-Zone</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"><div class="shape-picture3"></div> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">Safe-Zone</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"><div class="shape-picture4"></div> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">Safe-Zone</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"><div class="shape-picture5"></div> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">Safe-Zone</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="frame-turquoise-content">-->
                                    <!--<div class="frame-turquoise-content__left-photo"> </div>-->
                                    <!--<div class="frame-turquoise-content__main">-->
                                        <!--<div class="frame-turquoise-content__main__t">Safe-Zone</div>-->
                                        <!--<div class="frame-turquoise-content__main__p">North Control Tower Bargam..</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="shadow-bottom2"></div>
                                <div class="shadow-bottom3"></div>

                            </div>
                    </div>
