@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 100em) { @content };    //1600px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

.container-login{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-height: 60rem;

  &__part1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 0 1 60%;
    background-blend-mode: overlay;
    background: #2a2e43 url("../../assets/images/backgrounds/2018-09-17-first-batch-of-high-res-satellite-imagery-in-maptiler-cloud-1.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    @include respond(phone) {
      display:none;
    }
  }

  &__part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 0 0 40%;
    background-color: #ffffff;
    min-width: 36rem;
    @include respond(phone) {
      flex: 0 0 100%;
    }
  }


}

.card1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:70%;
  height: 35%;
  align-items: flex-start;
  margin-bottom:7rem;

  &__main-title{
    width:85%;
    font-family: Poppins;
    font-size: 3.8rem;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;


  }
  &__main-logo {

    object-fit: contain;

  }
}

.card2{

  margin-bottom: 20%;
  margin-right: 15%;
  width:55%;
  height: 57%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
  max-height:550px;

  @include respond(tab-port) {
    margin-right: 30%;

  }
  @include respond(phone) {
    margin:auto;
    justify-content:flex-start;

  }





  &__lock-logo{
    object-fit: contain;
    margin-bottom:9%;
  }

  &__title{
    font-family: Poppins;
    font-size: 3.4rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2a2e43;
    @include respond(phone) {
      font-size: 2.1rem;
    }

  }

  &__login-info{
    display:none;
    font-family: HindSiliguri;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #78849e;
    margin-top:1rem;
    margin-bottom:3rem;
    @include respond(phone) {
      display:block;
    }
  }

  &__paragraph{
    margin-top:10%;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #78849e;
    // min-width:35rem;
    @include respond(phone) {
      display:none;
    }

  }

  &__learn-more-link{

    font-family: HindSiliguri;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #3499ff;
    cursor:pointer;
    @include respond(phone) {
      display:none;
    }
  }
  &__learn-more-link::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1.2rem;
    margin-right: .2rem;

    // Older browsers
    background-image: url(../../assets/images/sign/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: #3499ff;
      -webkit-mask-image: url(../../assets/images/sign/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../../assets/images/sign/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }

  }

  &__input-frame{
    display: flex;
    align-content: space-between;
    width: 30rem;
    height: 4.8rem;
    border-radius: 2px;
    border-bottom: 1px solid #78849e;
    @include respond(phone) {

      margin-top:0 !important;

    }

    &__email{
      width: 30rem;
      height: 2rem;
      font-family: Poppins;
      font-size: 1.3rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #78849e;
      margin-top: 20px;
      border: none;
    }

    &__password{
      width: 6.7rem;
      height: 2rem;
      font-family: Poppins;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #78849e;
      flex: 11;
      border: none;
      margin-top: 21px
    }
    input:focus, textarea {
      outline: none !important;
    }

    &__hide{
      align-self: flex-end;
      object-fit: contain;
      flex: 1;
      padding: 6px;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }

  &__connect-forgot-frame{
    display: flex;
    width: 30rem;
    height: 7rem;
    margin-top: 1.4rem;
    align-items: center;
    @include respond(phone) {
      flex-direction:column;
      align-content:space-around;
    }
    &__Forgot-password{
      width: 10.7rem;
      height: 2.3rem;
      font-family: HindSiliguri;
      font-size: 1.2rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #78849e;
      text-decoration: underline;
      cursor: pointer;
      @include respond(phone) {
        order:2;
        margin-top:1rem;
      }

    }
    &__connect-frame{
      display: flex;
      width: 17rem;
      height: 4.7rem;
      border-radius: 999px;
      background-image: linear-gradient(to left, #098bff, #00b2ff 48%, #00cfee);
      cursor: pointer;
      margin-left: 4.9rem;
      @include respond(phone) {
        order:1;
        margin-left: -2rem;
        margin-top:1rem;
        // margin-bottom:2rem;
        width: 17rem;
        height: 4.7rem;
      }
    }

    &__connect{
      margin: auto;
      width: 7.6rem;
      height: 2rem;
      font-family: Poppins;
      font-size: 1.3rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1.3px;
      text-align: center;
      color: #ffffff;
    }

  }

}

