<div class="container-login">
  <div class="container-login__part1">
    <div class="card1">
      <h1 class="card1__main-title">"Advanced Security System beyond your dreams"</h1>
        <img class="card1__main-logo" src="../../assets/images/logo/Union7.svg">
    </div>
  </div>
  <div class="container-login__part2">
    <div class="card2">

      <img class="card2__lock-logo" src="../../assets/images/logo/noun_padlock_1532408_000000.svg">
      <h2 class="card2__title">Welcome Back!</h2>
      <h4 class="card2__login-info">Enter Your Login info</h4>
      <p class="card2__paragraph">Sign in to manage your fleet and Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  </p>
      <a class="card2__learn-more-link">  Learn-more-about-our-system</a>
      <div class="card2__input-frame margin-top-flex">
        <input class="card2__input-frame__email" type="text" placeholder="Email">
      </div>
      <div class="card2__input-frame">
        <input class="card2__input-frame__password" type="text" placeholder="Password">
        <img class="card2__input-frame__hide" src="../../assets/images/logo/hide.svg">
      </div>

      <div class="card2__connect-forgot-frame">
        <a class="card2__connect-forgot-frame__Forgot-password">Forgot password?</a>
        <div class="card2__connect-forgot-frame__connect-frame"><p class="card2__connect-forgot-frame__connect">CONNECT</p></div>
      </div>

    </div>


</div>

