<div class="header-popup blue-header-shape">
  <h4 class="header-popup__title">Devices</h4>
  <div class="header-popup__search-bar" (click)="onFocus($event)">
    <img class="header-popup__search-bar__wifi" src="../../assets/images/icon/noun_filter_787737_000000.svg">
    <div class="header-popup__search-bar__divider"></div>
    <input (click)="onFocus($event)" type="text" class="header-popup__search-bar__filter" placeholder="Type or select filter">
  </div>
  <div class="header-popup__small-title width-small-title">22 Devices</div>
</div>
